* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header section */
.header-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: #000;
  color: #fff;
}
.header-discount a {
  color: #fff;
}
/* navigation */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  max-width: 100vw;
  padding: 1.4rem;
}

.main-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.main-nav li {
  list-style-type: none;
}
.nav-item {
  text-decoration: none;
  color: #333;
}
/* logo section */
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.logo {
  width: 3.2rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.btn {
  color: #333;
  border-radius: 10px;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-yellow {
  background-color: yellow;
}

/* main section */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: ceter;
  padding: 1.2rem;
}
main p {
  font-size: 1.2rem;
  max-width: 30rem;
}
img {
  object-fit: cover;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-self: flex-end;
}
.main-image {
  justify-self: flex-end;
}
.heading-primary {
  font-size: 3.6rem;
  max-width: 40rem;
  line-height: 1;
}

/* footer section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #000;
  color: #fff;
}
.footer-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
