* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}
.form-item {
  display: flex;
  gap: 0.8rem;
}

.form-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
